<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="common-main1">
<head>
<th:block th:insert="common/common-parts::meta"></th:block>

<!-- <meta charset="utf-8"> -->
<!-- ↓ページごとに個別で読み込むもの -->
<th:block th:insert="~{::#headContent}"></th:block>
</head>

<body>
	<!-- ↓共通header用 -->
	<th:block th:insert="common/common-parts::sagyo-web-header"></th:block>
	<!-- ↓個別のコンテンツ -->
	<div id="content" th:replace="~{::#bodyContent}"></div>
	<!-- ↓共通footer用 -->
	<th:block th:insert="common/common-parts::sagyo-web-footer"></th:block>
</body>
</html>