<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <!-- 開発環境では、INFO レベル以上を console に出力する -->
  <!-- 開発環境では、INFO レベル以上を console に出力する -->
  <springProfile name="dev">
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  <!-- テスト・本番環境では、INFO レベル以上を ファイル に出力する -->
  <springProfile name="test, production">
    <include resource="logback-file-appender.xml"/>
    <root level="INFO">
      <appender-ref ref="ASYNC_APPLICATION_LOG_FILE"/>
    </root>
  </springProfile>
</configuration>