<?xml version="1.0" encoding="UTF-8"?>
<included>
	<!-- LOG_PATH は Spring Boot が設定している logging.path から取得される。-->
	<!--  <property name="APP_LOG_FILENAME" value="${LOG_PATH}/aplname.log"/>-->
	<property name="APP_LOG_FILENAME" value="log/aplname.log" />
	<appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_FILENAME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--.gzをつけることで自動的に圧縮されている模様-->
			<fileNamePattern>${APP_LOG_FILENAME}.%d{yyyyMMdd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_APPLICATION_LOG_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="APPLICATION_LOG_FILE" />
	</appender>
</included>