<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="common/common-layout2::common-main2">
<head id="headContent">
<meta charset="utf-8">
</head>
<body>

	<div id="bodyContent">
		<div class="container-fluid bg-warning main-pattern2">
			<div class="row">
				<div class="subtitle">ユーザ登録</div>
			</div>


			<div class="row p-2">
				<form th:action="@{#}" th:object="${userForm}">
					<div class="form-group">
						<div class="input-group mb-3">
							<label class="text-end">NEON_ID</label> <input
								style="width: 300px;" type="text" />
						</div>
						<div class="input-group mb-3">
							<label class="text-end">NEON_ID</label> <input
								style="width: 300px;" type="email" />
						</div>
						<div class="input-group mb-3">
							<label class="text-end">NEON_ID</label> <input
								style="width: 300px;" type="text" />
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>


			</div>


		</div>
	</div>
</body>
</html>